//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    /* background:  $color-background; */

    /*@media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }*/
}

.root-container-zero{
    margin-left: 0px;
    margin-right: 0px;
}

header.no-border, footer.no-border{
	border:none;
    padding: 21px 0px;
}

a {
    color: $color-link;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

h5{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

/* //styleName: Sub 01;
font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
 */

 #onetrust-banner-sdk{
    font-family: "Montserrat-Normal";
}

#onetrust-pc-sdk{
    font-family: "Montserrat-Normal";
}

