div.root.shell {
  div.button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0px;

    button,
    a {
      color: black;
      background-color: $shell-primary-yellow;
      width: calc(100% - 32px);
      border-radius: 10px;
      border-style: none;
      text-decoration: none;
      padding: 15px 50px;
    }

    span {
      font-family: ArchivoSemiBold;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.46px;
    }

    // Same for tablet and desktop breakpoints
    @media screen and (min-width: 768px) {
      margin: 52px 0px;
      button, a {
        width: auto;
      }
    }
  }
}
