@import "../../../site/variables";
@import "../../../site/bootstrap/bootstrap-utilities.scss";

.pills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: amSizeUnit(2);
  margin-top: amSizeUnit(3);

  @include media-breakpoint-up("lg") {
    margin-top: amSizeUnit(2);
  }

  &__item {
    align-items: center;
    background-color: $--am-base-colour-white-100; // no function is available for pure white and black
    border-radius: amSizeMicro(4);
    border: none;
    box-shadow: $box-shadow-2;
    color: amSteel(9);
    display: flex;
    font-family: amFontFamily(2);
    line-height: 1;
    min-height: amSizeUnit(4);
    padding: 0;

    &-text {
      font-size: amFontSize(4);
      padding: 0 amSizeUnit(1);
      text-align: left;

      @include media-breakpoint-up("md") {
        font-size: amFontSize(5);
      }

      .pills__item-toggle & {
        padding: 0 amSizeUnit(1);
      }
    }

    &-icon {
      color: amTierBlue(3);
      font-size: amFontSize(3);
      margin-right: amSizeUnit(1);

      .pills__item-toggle & {
        font-size: amFontSize(2);
        margin-right: amSizeMicro(4);
      }
    }
  }

  &__clear-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: amTierBlue(3);
    line-height: 1;
    padding: 0;
    position: relative;

    &::after {
      border-bottom: 1px solid;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:hover {
      color: amStarySky(9);
      cursor: pointer;
    }

    @include media-breakpoint-up("md") {
      font-size: amFontSize(5);
    }
  }
}
