@font-face {
  font-family: MontserratBold;
  font-style: normal;
  font-weight: 700;
  src: url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold.svg#montserrat-bold)
      format("svg");
}

@font-face {
  font-family: MontserratBoldItalic;
  font-style: italic;
  font-weight: 700;
  src: url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold-italic.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold-italic.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold-italic.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/montserrat-bold-italic.svg#montserrat-bold-italic)
      format("svg");
}

@font-face {
  font-family: ArchivoRegular;
  font-style: normal;
  font-weight: 400;
  src: url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular.svg#archivo-regular)
      format("svg");
}

@font-face {
  font-family: ArchivoItalic;
  font-style: italic;
  font-weight: 400;
  src: url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular-italic.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular-italic.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular-italic.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-regular-italic.svg#archivo-regular-italic)
      format("svg");
}

@font-face {
  font-family: ArchivoSemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold.svg#archivo-semibold)
      format("svg");
}

@font-face {
  font-family: ArchivoSemiBoldItalic;
  font-style: italic;
  font-weight: 600;
  src: url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold-italic.woff2)
      format("woff2"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold-italic.woff)
      format("woff"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold-italic.ttf)
      format("truetype"),
    url(https://airmiles-fonts.s3.amazonaws.com/archivo-semibold-italic.svg#archivo-semibold-italic)
      format("svg");
}

