.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.bg-primary {
  background-color: color('brand-blue') !important;
}

.bg-secondary {
  background-color: color('light-blue') !important;
}

.bg-success {
  background-color: color('green') !important;
}

.bg-info {
  background-color: color('blue') !important;
}

.bg-warning {
  background-color: color('orange') !important;
}

.bg-danger {
  background-color: color('functional-red') !important;
}

.bg-light {
  background-color: color('grey-light') !important;
}

.bg-dark {
  background-color: color('grey-dark') !important;
}