<div 
     data-sly-use.model="ca.airmiles.travel.core.models.ActivitiesWidget"
     data-sly-use.environment="/apps/aem-airmiles-travel2/components/core/runmode.js"
></div>

<div data-component="activitieswidget"
     data-prop-has-progressive="${properties.hasProgressive}"
     data-prop-has-widget-updates="${properties.hasWidgetUpdates}"
     data-prop-msg_adv_search_text_init="${properties.advSearchTextInit || 'To make a booking with an infant in lap, please' @ i18n}"
     data-prop-msg_adv_search_text_middle="${properties.advancedSearchTextMiddle || 'please use' @ i18n}"
     data-prop-msg_adv_search_text_link="${properties.advancedSearchTextLink || 'contact us' @ i18n}"
     data-prop-msg_notice="${'Notice: ' @ i18n}"
     data-prop-msg_disney_booking="${properties.disneyBookingMessage || 'Looking to book Disney? Please visit our old booking platform to make your Disney bookings, while we continue to improve our site.' @ i18n}"
     data-prop-show_multi_header_message="${properties.showMultiHeaderMessage}"
     data-prop-header_error_type="${'Error:' @ i18n}"
     data-prop-msg_child_age_1="${'Child 1 age' @ i18n}"
     data-prop-msg_child_age_2="${'Child 2 age' @ i18n}"
     data-prop-msg_child_age_3="${'Child 3 age' @ i18n}"
     data-prop-msg_child_age_4="${'Child 4 age' @ i18n}"
     data-prop-msg_child_age_5="${'Child 5 age' @ i18n}"
     data-prop-msg_close="${'Close' @ i18n}"
     data-prop-header_missing_info="${properties.headerMissingInfo || 'You are missing information.'@ i18n}"
     data-prop-header_see_fields="${properties.headerSeeFields || 'See the following fields to correct them:' @ i18n}"
     data-prop-add_flight_text="${'Add flight' @ i18n}"
     data-prop-child_age="${'Child 1 age' @ i18n}"
     data-prop-msg_empty_field="${'This field is required.' @ i18n}"
     data-prop-msg_empty_field_age="${'Child age is required.' @ i18n}"
     data-prop-child_under_eight="${'Children can travel alone' @ i18n}"
     data-prop-child_under_eight_eleven="${properties.childUnderEightEleven || 'but you’ll need to contact individual airlines for Unaccompanied Minor service.' @ i18n}"
     data-prop-max_number_text="${properties.maxNumberText || 'The maximum number of flights has been reached' @ i18n}"
     data-prop-msg_to_many_passengers="${'You cannot select more than 8 passengers per booking.' @ i18n}"
     data-prop-error_total_pax2="${'To make bookings for groups 8+ people' @ i18n}"
     data-prop-error_total_pax3="${'please see information on' @ i18n}"
     data-prop-error_total_pax4="${'travelling as a group' @ i18n}"
     data-prop-msg_adults="${'Adults' @ i18n}"
     data-prop-msg_adult="${'Adult' @ i18n}"
     data-prop-msg_children="${'Children' @ i18n}"
     data-prop-msg_child="${'Child' @ i18n}"
     data-prop-msg_age="${'age' @ i18n}"
     data-prop-msg_infant="${'Infant' @ i18n}"
     data-prop-msg_infants="${'Infants' @ i18n}"
     data-prop-msg_child_age="${'Child age' @ i18n}"
     data-prop-msg_add_adult="${'Add Adult' @ i18n}"
     data-prop-msg_remove_adult="${'Remove Adult' @ i18n}"
     data-prop-msg_add_child="${'Add Child' @ i18n}"
     data-prop-msg_remove_child="${'Remove Child' @ i18n}"
     data-prop-msg_add_infant="${'Add Infant' @ i18n}"
     data-prop-msg_remove_infant="${'Remove Infant' @ i18n}"
     data-prop-json_url="${currentNode.path}.model.json"
     data-prop-msg_search_by_city_hotel_or_airport="${'Search by city or airport' @ i18n}"
     data-prop-msg_passengerbox_one_passenger="${'1 Passenger' @ i18n}"
     data-prop-msg_passengerbox_passengers="${'Passengers' @ i18n}"
     data-prop-msg_passengerbox_person="${'Person' @ i18n}"
     data-prop-msg_passengerbox_persons="${'Persons' @ i18n}"
     data-prop-msg_passengerbox_one_traveller="${'Traveller' @ i18n}"
     data-prop-msg_passengerbox_travellers="${'Travellers' @ i18n}"
     data-prop-msg_children_ages="${'Children (ages 0-11)' @ i18n}"
     data-prop-msg_infant_ages_0_2="${'Infants 0 - 2 (in seat)' @ i18n}"
     data-prop-payment_credit_card="${'Credit Card' @ i18n}"
     data-prop-payment_dream_miles="${'Dream Miles' @ i18n}"
     data-prop-payment_preference="${properties.paymentPreference || 'Select a payment preference' @ i18n}"
     data-prop-payment_select_card="${properties.paymentSelectCard || 'Get the best available fare and earn Reward Miles™ like never before when you pay with your credit card.' @ i18n}"
     data-prop-payment_select_miles="${properties.paymentSelectMiles || 'Use Dream Miles™ to cover 50% or more of your booking to unlock exclusive collector deals and additional savings.' @ i18n}"
     data-prop-msg_ldd_going_to="${'Going to' @ i18n}"
     data-prop-msg_datepicker_start_date="${'Start date' @ i18n}"
     data-prop-msg_advanced_search_page="${'Advanced search page' @ i18n}"
     data-prop-msg_search="${'Search' @ i18n}"
     data-prop-msg_update="${'Update' @ i18n}"
     data-prop-msg_datepicker_january="${'January' @ i18n}"
     data-prop-msg_datepicker_february="${'February' @ i18n}"
     data-prop-msg_datepicker_march="${'March' @ i18n}"
     data-prop-msg_datepicker_april="${'April' @ i18n}"
     data-prop-msg_datepicker_may="${'May' @ i18n}"
     data-prop-msg_datepicker_june="${'June' @ i18n}"
     data-prop-msg_datepicker_july="${'July' @ i18n}"
     data-prop-msg_datepicker_august="${'August' @ i18n}"
     data-prop-msg_datepicker_september="${'September' @ i18n}"
     data-prop-msg_datepicker_october="${'October' @ i18n}"
     data-prop-msg_datepicker_november="${'November' @ i18n}"
     data-prop-msg_datepicker_december="${'December' @ i18n}"
     data-prop-msg_reset="${'Reset' @ i18n}"
     data-prop-msg_done="${'Done' @ i18n}"
     data-prop-msg_location="${'Location' @ i18n}"
     data-prop-msg_start_date="${'Start date' @ i18n}"
     data-prop-datepicker_months_string="${'Jan' @ i18n},${'Feb' @ i18n},${'Mar' @ i18n},${'Apr' @ i18n},${'May' @ i18n},${'Jun' @ i18n},${'Jul' @ i18n},${'Aug' @ i18n},${'Sep' @ i18n},${'Oct' @ i18n},${'Nov' @ i18n},${'Dec' @ i18n}"
     data-prop-datepicker_days_string="${'Mon' @ i18n},${'Tue' @ i18n},${'Wed' @ i18n},${'Thu' @ i18n},${'Fri' @ i18n},${'Sat' @ i18n},${'Sun' @ i18n}"
     data-prop-promo_code="${'Promo Code' @ i18n}"
     data-prop-add_promo_code="${'Add Promo Code' @ i18n}"
     data-prop-promo_code_error="${'Max 20 alphanumerc characters.' @ i18n}"
     data-prop-progressive-button-text="${'Continue' @ i18n}"
     data-prop-runmodes="${environment.runmodes}"
></div>