.herobanner{
  background: linear-gradient(272.9deg,#4185e2,#1f68da 98.25%);
  overflow: hidden;
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    letter-spacing: -2px;
    line-height: 3rem;
    color: #FFFFFF;
    padding-bottom: 1.5rem;
  }
  &__description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 3rem;
  }
  &__cta{
    display: flex;
    flex-direction: column;
    .ctabutton{
      padding-bottom: 1rem;
      text-transform: uppercase;
      .cmp-button.ctabuttonround, .cmp-button.ctabuttonroundhalo {
        width: 100%;
      }
      .cmp-button{
        &.ctabuttonroundhalo{
          color: #FFF;
          border-color: #FFF;
        }
        &.ctabuttonround{
          background-color: #FFF;
          color: #1f68da;
        }
        &:hover{
          border: 2px;
          background: #E9FC88 !important;
          color: #080E1A !important;
        }
        &:active{
          border: 2px;
          background: #D7FA29 !important;
          color: #080E1A !important;
        }
      }
    }
    padding-bottom: .5rem;
  }
  &__image {
    text-align: center;
    img {
      width: 80%;
    }
  }
}

@media (min-width: breakpoint('md')) {
  .herobanner {
    &__content {
      padding-right: 0;
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
    &__title {
      font-size: 2.625rem;
      line-height: 3.28125rem;
    }
    &__description {
      font-size: 1.25rem;
      line-height: 1.875rem;
      padding-bottom: 1.5rem;
    }
    &__cta{
      flex-flow: wrap;
      flex-direction: row;
      gap: 1rem;
      padding: 0;
      .ctabutton{
        padding: 0;
        .cmp-button.ctabuttonround, .cmp-button.ctabuttonroundhalo {
          width: 12.625rem;
          padding: 0.5rem 1.25rem;
          margin: 0;
        }
      }
    }
    &__image {
      padding-top: 3.5rem !important; 
      padding-bottom: 1.5rem !important;
      img {
        width: 100%;
        max-width: 280px;
      }
    }
  }
}
@media (min-width: breakpoint('lg')) {
  .herobanner {
    &__content{
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    &__title {
      font-size: 3.25rem;
      line-height: 3.75rem;
    }

    &__description {
      padding-bottom: 3rem;
      padding-right: 3rem;
    }

    &__cta{
      gap: 1.5rem;
      .ctabutton{
        .cmp-button.ctabuttonround, .cmp-button.ctabuttonroundhalo {
          width: auto;
          padding: 0.625rem 2.5rem;
        }
      }
    }
    &__image {
      padding-top: 1.5rem !important; 
      img {
        width: auto;
        max-width: inherit;
        max-height: 500px;
      }
    }
  }
}