<div class="p-1 h-25 w-100 bg-light text-white" data-sly-test="${wcmmode.edit}">
    <span class="am-icon am-icon-info p-1"></span>${component.title}
</div><sly data-sly-use.textimage="ca.airmiles.travel.core.models.TextImageModel" xmlns="http://www.w3.org/1999/html"/>
<div data-sly-test="${wcmmode.edit && !textimage.description}" data-emptytext="Text Image" class="cq-placeholder"></div>
<div class="text-image__container"
     data-track-section="${textimage.dataTrackSection}">
    <div class="bsp-travel-container">
        <div class="row text-image__container-row">
            <div class="col-12 col-md-5 text-image__col-image">
                <!-- If the user choose a url for the image -->
                <a  data-sly-test="${textimage.url}"
                    href="${textimage.url}" target="${textimage.imageTarget}">
                    <img data-sly-test="${!textimage.smallScreenFileReference}"
                         alt="${textimage.altText}"
                         src="${textimage.fileReference @context = 'uri'}"
                    />
                    <img data-sly-test="${textimage.smallScreenFileReference}"
                         class="d-none d-xl-inline"
                         alt="${textimage.altText}"
                         src="${textimage.fileReference @context = 'uri'}"
                    />
                    <img data-sly-test="${textimage.smallScreenFileReference}"
                         class="d-xl-none d-xxl-none"
                         alt="${textimage.altText}"
                         src="${textimage.smallScreenFileReference @context = 'uri'}"
                    />
                </a>
                <img data-sly-test="${!textimage.url && !textimage.smallScreenFileReference}"
                     alt="${textimage.altText}"
                     src="${textimage.fileReference @context = 'uri'}"
                />
                <img data-sly-test="${!textimage.url && textimage.smallScreenFileReference}"
                     class="d-none d-xl-inline"
                     alt="${textimage.altText}"
                     src="${textimage.fileReference @context = 'uri'}"
                />
                <img data-sly-test="${!textimage.url && textimage.smallScreenFileReference}"
                     class="d-xl-none d-xxl-none"
                     alt="${textimage.altText}"
                     src="${textimage.smallScreenFileReference @context = 'uri'}"
                />
            </div>
            <div class="col-12 col-md-7 text-image__col-text">
                <h2 data-sly-test="${textimage.title}"
                    class="text-image__col-text-title">
                    ${textimage.title}
                    <sup>${textimage.titleTrademark}</sup>
                </h2>
                <h3 data-sly-test="${textimage.headline}"
                    class="text-image__col-text-headline">
                    ${textimage.headline @ context='html'}
                </h3>

                <div data-sly-test="${textimage.description}"
                     class="text-image__col-text-description">
                    ${textimage.description @context='html'}
                </div>

                <div class="text-image__col-text-actions">
                    <div data-sly-include="/apps/aem-airmiles-travel2/components/cta-button/cta-button.html"></div>
                </div>

                <p data-sly-test="${textimage.linkDisclaimerText}" class="text-image__col-text-disclaimer">
                    <span>${textimage.linkDisclaimerText}</span>
                </p>

            </div>
        </div>
    </div>

</div>