<sly data-sly-use.adCountModel="ca.airmiles.travel.core.models.AdBannersModel" />
<div data-sly-test="${wcmmode.edit}" data-emptytext="Ad Banner" class="cq-placeholder">${adCountModel.adID} - ${adCountModel.adSlotEnabled ? 'Enabled':'Disabled'}</div>
<div data-sly-test="${adCountModel.adSlotEnabled}" class="adBanner-element text-center py-5 py-md-3" id="${adCountModel.adID}">
    <script>
        if (window.googletag !== undefined) {
            googletag.cmd.push(function () {
                googletag.display("${adCountModel.adID @ context='attribute'}");
            });
        }
    </script>
</div>