<sly data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page"/>
<div class="headnav__bottomnav-wrapper">
    <ul class="js_url_links">
        <!--/* JS render links*/-->
    </ul>
    <div class="js_url_sites">
        <div class="headnav__bottomnav-wrapper-others">
            <!--/* JS render other links*/-->
        </div>
        <div class="headnav__bottomnav-wrapper-shops"><a href="#">AIRMILESSHOPS.CA<sup class="reg-md">${page.language == 'en' ? '®' : 'MD'}</sup></a></div>
        <div class="headnav__bottomnav-wrapper-airmiles"><a href="#">airmiles.ca</a></div>
    </div>
</div>