/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-dependencies/
/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-corporate-dependencies/
/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-corporate-site/
/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-offers-dependencies/
/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-offers-site/
/src/main/content/jcr_root/apps/aem-airmiles-web/clientlibs/clientlib-shell-site/