<div class="p-1 h-25 w-100 bg-light text-white" data-sly-test="${wcmmode.edit}">
    <span class="am-icon am-icon-info p-1"></span>${component.title}
</div>
<div 
    data-sly-use.model="ca.airmiles.travel.core.models.CarRentalWidget"
    data-sly-use.environment="/apps/aem-airmiles-travel2/components/core/runmode.js"
></div>
<div data-component="carrentalwidget"
data-prop-has-payment-option="${properties.hasPaymentOption}"
data-prop-has-progressive="${properties.hasProgressive}"
data-prop-has-widget-updates="${properties.hasWidgetUpdates}"
data-prop-json_url="${currentNode.path}.model.json"
data-prop-msg_empty_field="${properties.validationRequired || 'This field is required.' @ i18n}"
data-prop-header_error_type="${'Error:' @ i18n}"
data-prop-age_requirement_text="${'Renter’s age is 25+ years.' @ i18n}"
data-prop-age_warning_message="${'Driver’s or Renter’s age is required to be 25+.' @ i18n}"
data-prop-msg_search_by_city_or_airport="${'Search by city or airport code' @ i18n}"
data-prop-msg_search_by_city_hotel_or_airport="${'Search by city or airport' @ i18n}"
data-prop-msg_timedd_pickup_time="${'Pick-up time' @ i18n}"
data-prop-msg_close="${'Close' @ i18n}"
data-prop-msg_timedd_dropoff_time="${'Drop-off time' @ i18n}"
data-prop-msg_renters_age_25="${'Renter’s age is 25+ years.' @ i18n}"
data-prop-msg_rentals_booked_miles_only="${properties.alertMsgStart || 'Car Rentals can only be booked with Dream Miles at this time.' @ i18n}"
data-prop-msg_rentals_minimun_miles="${properties.alertMsgEnd || 'You must use a minimum of 50% Miles for your booking.' @ i18n}"
data-prop-msg_ldd_pickup_location="${'Pick-up location' @ i18n}"
data-prop-msg_ldd_dropoff_location="${'Drop-off location' @ i18n}"
data-prop-msg_datepicker_previous_month="${'Previous Month' @ i18n}"
data-prop-msg_datepicker_next_month="${'Next Month' @ i18n}"
data-prop-msg_datepicker_departure_date="${'Departure date' @ i18n}"
data-prop-msg_datepicker_return_date="${'Return date' @ i18n}"
data-prop-msg_datepicker_check_in="${'Check in' @ i18n}"
data-prop-msg_datepicker_check_out="${'Check out' @ i18n}"
data-prop-msg_timedd_pickup_time="${'Pick-up time' @ i18n}"
data-prop-msg_timedd_dropoff_time="${'Drop-off time' @ i18n}"
data-prop-msg_pickup_date="${'Pick-up date' @ i18n}"
data-prop-msg_dropoff_date="${'Drop-off date' @ i18n}"
data-prop-header_missing_info="${properties.widgetValidationMissing || 'You are missing information.'@ i18n}"
data-prop-header_see_fields="${properties.widgetValidationFields || 'See the following fields to correct them:' @ i18n}"
data-prop-msg_advanced_search_page_capital="${'Advanced search page' @ i18n}"
data-prop-msg_advanced_search_page="${'advanced search page' @ i18n}"
data-prop-msg_search="${'Search' @ i18n}"
data-prop-payment_credit_card="${'Credit Card' @ i18n}"
data-prop-payment_dream_miles="${'Dream Miles' @ i18n}"
data-prop-payment_preference="${properties.paymentPreference || 'Select a payment preference' @ i18n}"
data-prop-payment_select_card="${properties.paymentSelectCard || 'Get the best available fare and earn Reward Miles™ like never before when you pay with your credit card.' @ i18n}"
data-prop-payment_select_miles="${properties.paymentSelectMiles || 'Use Dream Miles™ to cover 50% or more of your booking to unlock exclusive collector deals and additional savings.' @ i18n}"
data-prop-msg_datepicker_january="${'January' @ i18n}"
data-prop-msg_datepicker_february="${'February' @ i18n}"
data-prop-msg_datepicker_march="${'March' @ i18n}"
data-prop-msg_datepicker_april="${'April' @ i18n}"
data-prop-msg_datepicker_may="${'May' @ i18n}"
data-prop-msg_datepicker_june="${'June' @ i18n}"
data-prop-msg_datepicker_july="${'July' @ i18n}"
data-prop-msg_datepicker_august="${'August' @ i18n}"
data-prop-msg_datepicker_september="${'September' @ i18n}"
data-prop-msg_datepicker_october="${'October' @ i18n}"
data-prop-msg_datepicker_november="${'November' @ i18n}"
data-prop-msg_datepicker_december="${'December' @ i18n}"
data-prop-msg_ldd_pickoff_dropoff="${'Pick-up/Drop-off Location' @ i18n}"
data-prop-msg_return_rental_different="${properties.alertMsgReturn || 'To return your car rental to a different location than the pick-up location, visit the' @ i18n}"
data-prop-msg_notice="${'Notice: ' @ i18n}"
data-prop-show_multi_header_message="${properties.showMultiHeaderMessage}"
data-prop-show_default_header_message="${properties.showDefaultHeaderMessage}"
data-prop-msg_reset="${'Reset' @ i18n}"
data-prop-msg_done="${'Done' @ i18n}"
data-prop-datepicker_months_string="${'Jan' @ i18n},${'Feb' @ i18n},${'Mar' @ i18n},${'Apr' @ i18n},${'May' @ i18n},${'Jun' @ i18n},${'Jul' @ i18n},${'Aug' @ i18n},${'Sep' @ i18n},${'Oct' @ i18n},${'Nov' @ i18n},${'Dec' @ i18n}"
data-prop-datepicker_days_string="${'Mon' @ i18n},${'Tue' @ i18n},${'Wed' @ i18n},${'Thu' @ i18n},${'Fri' @ i18n},${'Sat' @ i18n},${'Sun' @ i18n}"
data-prop-promo_code="${'Promo Code' @ i18n}"
data-prop-add_promo_code="${'Add Promo Code' @ i18n}"
data-prop-promo_code_error="${'Max 20 alphanumerc characters.' @ i18n}"
data-prop-progressive-button-text="${'Continue' @ i18n}"
data-prop-runmodes="${environment.runmodes}"
></div>