<div class="columns-footer__top" role="region" aria-label="opt-in">
    <div class="bsp-container">
        <div class="row section-wrapper">
            <div class="col-12">
                <sly data-sly-resource="${@path='topcol', resourceType='foundation/components/parsys'}"></sly>
            </div>
        </div>
    </div>
</div>
<div class="columns-footer__mid" role="region" aria-label="links">
    <div class="bsp-container">
        <div class="row section-wrapper">
            <div class="col col-12 col-md-3 col-lg-6">
                <sly data-sly-resource="${@path='midleftcol', resourceType='foundation/components/parsys'}"></sly>
            </div>
            <div class="col col-12 col-md-4 col-lg-3">
                <sly data-sly-resource="${@path='midcentercol', resourceType='foundation/components/parsys'}"></sly>
            </div>
            <div class="col col-12 col-md-5 col-lg-3">
                <sly data-sly-resource="${@path='midrightcol', resourceType='foundation/components/parsys'}"></sly>
            </div>
        </div>
    </div>
</div>
<div class="columns-footer__bottom" role="region" aria-label="sitemap">
    <div class="bsp-container">
        <div class="row section-wrapper">
            <div class="col-12">
                <sly data-sly-resource="${@path='bottomtopcol', resourceType='foundation/components/parsys'}"></sly>
            </div>
            <div class="col-12">
                <sly data-sly-resource="${@path='bottombottomcol', resourceType='foundation/components/parsys'}"></sly>
            </div>
        </div>
    </div>
</div>