# Configuration created by Apache Sling JCR Installer
enable.scheduler=B"true"
payloadPaths=["/content/dam/aem-airmiles-travel2/trisept-jsons/activities/activities.json","/content/dam/aem-airmiles-travel2/trisept-jsons/flights/flights.json","/content/dam/aem-airmiles-travel2/trisept-jsons/packages/packages.json","/content/dam/aem-airmiles-travel2/trisept-jsons/rentals/rentals.json","/content/dam/aem-airmiles-travel2/trisept-jsons/stays/stays.json"]
# Cron expression for every Monday and Thursday of every week at 12.00 AM
scheduler.expression="0 0 0 ? * MON,THU"
model="/var/workflow/models/airmiles-travel-json-update"
scheduler.name="JSON\ Update\ Workflow\ Scheduler"
concurrent.scheduler=B"false"